:root{
    --color-web: #279a9c;
    --color-web-clarito: #86c6c7;
    --color-web-blanco: #ECECEC;
    --color-web-oscuro: #165758;

}
html{
	scroll-behavior: smooth; /*hacer sroll con animacion*/
}
*{
    padding: 0;
    margin: 0;
    font-family:'Roboto', 'Oswald', serif;
}

.bold{
    font-weight: bold;
}

.gris{
    color: gray;
}

.gris-oscuro{
    color: rgb(70, 70, 70);
}

.color-qualired{
    color: var(--color-web-oscuro);
}

.container{
    width: 90%;
}

.bg-oscuro{
    background-color: (--color-web-blanco);
}

/* ------------------------------------------------HEADER------------------------------------------------ */
.header{
    color: var(--color-web-blanco);  
    width: 100%; 
    position: sticky;
    top: 0;
    z-index:99999;
}

.header a:hover{
    text-decoration: none;  
}

.header .fila-1{
    display: grid;
    align-items: center;
    background-color: var(--color-web);
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: minmax(40px, auto);
    grid-template-areas: "iconos   informacion";
    padding: 0 15%;
}


.header .fila-1 .linea{
    height: 20px;
    width: 1px;
    background-color: var(--color-web-blanco);
    border: var(--color-web-blanco);
    display: inline-block;
}

.header .fila-1 .iconos{
    grid-area: iconos;
    display:inline-flex;
    align-items: center;
    width: 50%;
}

.iconos .itema{
    display: inline-block;
    margin: 0 15px;
    color: var(--color-web-blanco); 
}
.itema:hover
{
    color: #fff;
}



.header .fila-1  .informacion{
    text-align: right;
    grid-area: informacion;
}

.header .fila-2{
    display: grid;
    align-items: center;
    background-color: #fff;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: minmax(40px, auto);
    grid-template-areas: "logo   elmenu";
    padding: 0 15%;
}

.header .fila-2 .logo{
    grid-area: logo;
    margin: 5px 0;

}

.header .informacion i{
    margin: 0 10px 0 15px;
}
.header .informacion .correo{
    display: inline-block;
    margin-right: 20px;
}

.header .menu{
    text-align: right;
    grid-area: elmenu;
}
.header .menu a{
    color: gray;
    text-decoration: none;
}
.header .menu .item{
    margin: 0 10px;
}

.item-margin-right-none{
    margin: 0 10px;
    margin-right: 0;
}

/* ------------------------------------------------FOOTER------------------------------------------------ */
.footer{
    display: grid;
    padding: 10px 20px;
    background-color: var(--color-web-oscuro) ;
    color:var(--color-web-blanco);

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(60px, auto));

    grid-template-areas: "links   links"
                         "diseño  derechos";
    overflow: hidden;
    margin-top: 20px;
}

.footer a{
    color:var(--color-web-blanco);
    text-decoration: none;
}
.footer a:hover{
    text-decoration: none;
    color: #fff;
}
.footer p{
    margin: 0;
}

.footer .links{
    grid-area: links;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-self: center;
    grid-template-columns: repeat(5, minmax(100px, 200px));
    border-bottom: 2px solid var(--color-web-blanco);

}

.footer .diseño{
    grid-area: diseño;
    text-align: start;
    align-self: flex-end
    
}
.footer .derechos{
    grid-area: derechos;
    text-align: end;
    align-self: flex-end
    
}
/* ------------------------------------------------ BANNER ------------------------------------------------ */

.banner{
    min-height: 300px;
    background-position: center;
    background-size:cover ;
    color: var(--color-web-blanco);
    background-color: rgb(80, 80,80);
    background-blend-mode: soft-light;
    position: relative;
}

.banner .contenido{
    position: absolute;
    top:100px;
    left: 150px;
    color: var(--color-web-blanco);
}

.banner .contenido .ruta{
    font-size: 22px;
    font-weight: lighter;
}
.banner .linea{
    max-width: 20%;
    height: 1px;
    border: 1px solid var(--color-web-blanco);
}

.banner-novedades{
    background-image: url(../images/banners/bannertopblog.jpg);
}
.banner-servicios{
    background-image: url(../images/banners/bannerservicios.jpg);
}
.banner-empresa{
    background-image: url(../images/banners/banner-empresa.jpg);
}
.banner-contacto{
    background-position: center;
    background-image: url(../images/banners/bannercontacto.jpg);
}
.banner-branding{
    background-position: inherit;
    background-image: url(../images/banners/empresarios.jpg);
}



/* ------------------------------------------------CARROUSEL ------------------------------------------------ */
.carusel{
    min-height: 600px;
    background-position: center;
    background-size:cover ;
    background-blend-mode: soft-light;
    background-color: rgb(80, 80,80);
    /*background-color: rgb(56, 112, 122);*/
}

.carusel-imagen-1{
    background-image: url(../images/banners/slide1.jpg);
}
.carusel-imagen-2{
    background-image: url(../images/banners/bannercontacto.jpg);
}
.carusel-imagen-3{
    background-image: url(../images/banners/bannerservicios.jpg);
}

.carusel .titulo{
    font-weight: bold;
}
.tamanio-1{
    font-size: 60px;
    margin-bottom: 0;
}
.tamanio-2{
    font-size: 40px;
    margin-bottom: 0;
}
.carusel .texto{
    margin: 10px 21%;
}

.carusel .descripcion{
    font-size: 25px;
    font-weight:lighter;
}

/* ------------------------------------------------ INDEX ------------------------------------------------ */




.grilla-index-nosotros{
    display: grid;
    gap: 20px; 
    margin: 20px auto;
    width: 75%;
    
    grid-template-rows: repeat(3, minmax(100px, auto));

    grid-template-areas: "informacion"
                         "dibujo"
                         "pilares";
}

.grilla-index-nosotros .informacion{
    grid-area: informacion;
    text-align: center;
}

.grilla-index-nosotros .dibujo{
    grid-area: dibujo;
    
}
.super-container{
    position: relative;
    width: 50%;
}

.super-container .mensaje{
    height: 205px;
    width: 490px;
    position:absolute;
    right: -350px;
    top: 50px;
    background-color: #fff;
    box-shadow: 8px 7px 13px 0px #555;
    border-radius: 3px;
    padding: 20px 30px;
}

.imagen-container{
    height: 300px;
    width: 500px;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 3px;
    background-position: center;
    background-size:cover ;
    color: var(--colorx-web-blanco);
}
.imagen-index{
    background-image: url(../images/banners/empresarios.jpg);
}
.imagen-empresa{
    background-image: url(../images/banners/bannerservicios.jpg);
}
.imagen-empresa-1{
    background-image: url(../images/empresa/foto1.jpg);
}
.imagen-empresa-2{
    background-image: url(../images/empresa/foto2.jpg);
}
.imagen-empresa-3{
    background-image: url(../images/empresa/foto3.jpg);
}

.imagen-container .sub-container{
    height: 250px;
    width: 450px;
    border: 2px solid var(--color-web-blanco);
    border-radius: 3px;
}


.grilla-index-nosotros .pilares{
    grid-area: pilares;
    margin: 30px 0;
    display:grid;
    gap: 20px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(200px,auto));
}

.pilares .item{
    display:grid;
    grid-template-columns: 0.3fr 1fr;
    color: gray;
}

.pilares .item img{
    width: 80%;
}


.grilla-index-servicios{
    display: grid;
    gap: 20px;
    padding: 20px 0;
    padding: 60px 0;
    padding-bottom: 150px;
    background-color: var(--color-web-blanco);
   
    grid-template-rows: repeat(2, minmax(100px, auto));

    grid-template-areas: "informacion"
                         "datos";                       
}

.grilla-index-servicios .informacion{
    grid-area: informacion;
    text-align: center;
}

.grilla-index-servicios .datos{
    grid-area: datos;
    text-align: center;
}

.infoskills {
    height: 130px; 
    background-position: center;
    background-size:cover ;
    background-image: url(../images/banners/bgskills.jpg);  
    display: grid;
    padding: 0 10%;
    text-align: center;
    align-items: center;
    
    grid-template-columns:repeat(4, minmax(100px,1fr));
    grid-template-rows: auto;
 }

 .infoskills p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
 }

 .infoskills .bignum {
    font-size: 60px;
    color: white;
    font-weight:bold;
 }

 
 .grilla-index-blog {
    display: grid;
    gap: 20px;
    padding: 20px 0;
    margin-top: 50px;
   
    grid-template-rows: repeat(2, minmax(100px, auto));

    grid-template-areas: "informacion"
                         "datos";             
 }

 .grilla-index-blog .informacion{
    grid-area: informacion;
    text-align: center;
}

.grilla-index-blog .datos{
    grid-area: datos;
    display: grid;
    gap: 20px;
    padding: 20px 0;
    grid-template-columns: repeat(3, 1fr);
}

.grilla-info{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
}

.carta{
    width: 100%;
    padding: 30px 40px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
} 
.carta .titulo{
    display: inline-block;
    border-bottom: 3px solid black;
    margin-bottom: 20px;

}

.carta-white{
    color: var(--color-web-blanco);
    background-color: #268688;
}
.carta-white .titulo{
    border-bottom: 3px solid var(--color-web-blanco);
    
}

.carta-dark{
    color: var(--color-web-oscuro);
    background-color: #5db9bb;
}
.carta-dark .titulo{
    border-bottom: 3px solid var(--color-web-oscuro);
}

/* ------------------------------------------------CONTACTO ------------------------------------------------ */
.grilla-contacto{
    margin: 30px 0;
    display: grid;
    gap: 20px;
    min-height: 500px;

    grid-template-columns: 1.2fr 2fr;
    grid-template-rows: minmax(200px, auto);

    grid-template-areas: "columna-1  columna-2" ;

}

.grilla-contacto .columna-1{
    grid-area: columna-1;
    padding: 20px;
    color: var(--color-web);
}
.columna-1 .linea{
    max-width: 25%;
    border: 1px solid var(--color-web);
}

.grilla-contacto .columna-1 .item{
    display: grid;
    margin: 40px 0;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(2, minmax(40px, auto));

    grid-template-areas: "icono texto"
                         "icono importante";
}

.columna-1 .item .icono{
    grid-area: icono ;
    font-size: 30px;
    text-align: center;
}
.columna-1 .item .icono i{
    color: var(--color-web);}

.columna-1 .item .texto{
    grid-area: texto ;
    font-size: 25px;
}
.columna-1 .item .importante{
    grid-area: importante ;
}

.grilla-contacto .columna-2{
    grid-area: columna-2;
}

.columna-2 .form-contenedor{
    width: 90%;
    margin: 40px auto;

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, minmax(20px, 50px));
}

.form-contenedor .inputLau{
    border: 1px solid var(--color-web);
    padding: 10px;
    color: gray;
    border-radius: 3px;
}

.form-contenedor .inputLau .centrado{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-contenedor .mensaje{
    grid-column: 2/3;
    grid-row: 1/5;

}

/* ------------------------------------------------NOVEDADES ------------------------------------------------ */

.grilla-novedades{
    display: grid;
    gap: 20px;

    margin: 100px 0;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(40px, auto));

    grid-template-areas: "1      2"
                         "3      4"
                         "abajo abajo";
}

.item-mini p{
    margin-bottom: 0;
}
    


.item-caja{
    display: grid;
    min-height: 300px;
    width: 85%;
    grid-template-rows: 1fr minmax(80px, auto);
}

.item-detail-1{
    justify-self: center;
}

.item-detail-2{
    width: 100%;
    max-height: 100px;
}

.item .image-container{
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
    border-radius: 3px;
}
.item .image-container img{
    width: 100%;
}

.item i{
    color: var(--color-web-oscuro);
}
.item .parrafo{
    color: gray;
    font-size: 15px;
}

.item .texto-container{
    background-color:#65b8b9;
    padding: 20px 15px ;
    margin-bottom: 10px;
}
.item ol{
    list-style-position:inside;
}

.item .compartir{
    display: flex;
	justify-content: flex-end;
	align-items: center;

    font-size: 27px;
    color: var(--color-web-clarito);
    margin-bottom: 15px;
}

.item .compartir i{
    margin: 0 5px;
    color: var(--color-web-clarito);
}


.grilla-novedades .paginacion{
    margin-top: 40px;
    grid-area: abajo;
    font-size: 30px;
    font-weight: bold;

    display: grid;
    gap: 5px;
    justify-items: center;
    align-items: center;

    grid-template-columns: repeat(5, 70px);
}

.paginacion .activo{
    background-color:var(--color-web);
    border-radius: 999px;
    color: var(--color-web-blanco);
    width: 50px;
    height: 50px;
    display: flex;
	justify-content: center;
	align-items: center;
}
.paginacion a:hover{
    text-decoration: none;
}


/* ------------------------------------------------ NOVEDADES - DETAIL ------------------------------------------------ */

.grilla-detail{
    margin: 40px 0;
    display: grid;
    gap: 20px;
    min-height: 500px;
    grid-template-columns: 2fr 0.8fr;

    grid-template-areas: "columna-1 columna-2";
}

.grilla-detail .columna-1{
    grid-area: columna-1;
    /*si lo pongo muere el grid*/
}

.grilla-detail .columna-2{
    grid-area: columna-2;
    border-left: 2px solid var(--color-web);
    padding: 20px 30px;
    
}

.grilla-detail .columna-2 .titulo{
    
    font-size: 27px;
    color: var(--color-web-clarito);
    margin-bottom: 0px;
}

.etiqueta{
    background-color: var(--color-web-clarito);
    color: white;
    display: inline-block;
    padding: 0 8px;
    margin: 3px 1.5px;
    border-radius: 30px;
}

.margen-superior{
    margin-top: 20px;
}

/* ------------------------------------------------SERVICIOS ------------------------------------------------ */

.grilla-servicios{
    display: grid;
    gap: 40px;

    margin-top: 80px;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(50px, auto));

}

.grilla-servicios .item{
    display: grid;
    justify-items: center;
    text-align: center;
    width: 90%;
    border: 1px solid gray;
    padding: 50px 20px 30px 20px;
    align-items: baseline;
    border-radius: 3px;
   
    grid-template-rows: minmax(40px,auto) minmax(80px, auto);
    margin-bottom: 60px;
    position: relative;
}
.margin-peque{
    margin-bottom: 37px;
}

.grilla-servicios .item .parrafo{
    color: gray;
    align-items: baseline;
    font-size: 18px;
    line-height: 30px;
}

.circulo{
    width: 85px;
    height: 85px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid gray;
    position:absolute;
    top: -60px;

    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.circulo img{
    width: 65%;
}


.circulito{
    width: 15px;
    height: 15px;
    background-color: #279a9c7a;
    border-radius: 50%;
    display: inline-block;
}
.circulos .circulito{
    margin: 0 5px;
}

/* ------------------------------------------------ EMPRESA ------------------------------------------------ */

.grilla-empresa{
    margin: 50px 0;
    overflow: hidden;
    display: grid;
    gap: 20px;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: minmax(250px, auto);
     grid-template-areas: "imagen texto";
}

.grilla-empresa .imagen{
    justify-self: end;
    grid-area: imagen;
}
.grilla-empresa .texto{
    align-self: center;
    grid-area: texto;
    padding-right:20% ;
    color: gray;
}

.renglon{
    margin-top: 180px;
    height: 170px;
    width: 100%;
    background-color: var(--color-web-oscuro);
    position: relative;
    display: grid;
    justify-items: center;
    

}

.renglon .ren-contenido{
    position: absolute;
    top: -140px;
    width: 70%;
    background-color: #fff;
    height: auto;
    box-shadow: 3px 2px 15px 2px #555;
    padding: 20px;
    border-radius: 3px;

}

.renglon .ren-contenido .grilla-renglon{

    display: grid;
    justify-items: center;
    text-align: center;
    color: var(--color-web-oscuro);
    grid-template-columns: 1fr 1.3fr 1fr;
    grid-template-rows: minmax(150px, auto);

    grid-template-areas:"profesionales licenciados lideres" ;
}

.grilla-renglon i{
    font-size: 60px;
    margin-bottom: 10px;
}
.grilla-renglon .profesionales{
    grid-area: profesionales;
}
.grilla-renglon .licenciados{
    grid-area: licenciados;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.grilla-renglon .lideres{
    grid-area: lideres;
}

.centrado{
    display: flex;
    justify-content: center;
}
.grilla-empresa-2{
    margin: 50px 0;
    display: grid;
    width: 60%;
    gap: 20px;
    justify-items: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,minmax(250px, auto));
}

.grilla-empresa-2 .imagen-container{
    width: 100%;
    height: 100%;
}

.grilla-empresa-2 .imagen-container .sub-container{
    height: 80%;
    width: 80%;
    border: 2px solid var(--color-web-blanco);
}

.grilla-empresa-2 .texto{
    /*padding: 0 10%;*/
}

.grilla-empresa-2 .texto .titulo{
    font-size: 40px;
    margin-bottom: 0;
    font-weight: bold;
}

.grilla-empresa-2 .texto .subtitulo{
    font-size: 30px;
    font-weight: bold;
}

.grilla-empresa-3{
    display: grid;
    gap: 20px;
    margin-top: 50px;
   
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(100px, auto));

    grid-template-areas: "info"
                         "datos";             
}

.grilla-empresa-3 .informacion{
    grid-area: info;
    text-align: center;
    
}
.grilla-empresa-3 .datos{
    grid-area: datos;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(200px, auto);

}

.grilla-empresa-3 .datos .persona{
    margin-top: 50px;
    justify-self: center;
    width: 80%;
}

.grilla-empresa-3 .persona .foto-container{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
   
}

.foto-claudio{
    background-image: url(../images/personas/claudio-perfil.png)
}
.foto-monica{
    background-image: url(../images/personas/monica-perfil.png);
}

.grilla-empresa-3 .persona .mensaje{
    margin: 30px ;
   text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px 0;
    
}
.persona .mensaje .titulo{
    color: var(--color-web-oscuro);
    margin-bottom: 0;
}
.persona .mensaje .subtitulo{
    color: gray;
}

.persona .mensaje .descripcion{
    margin-bottom: 0;
}